<!-- Availability form pop-up -->
<app-popup #availabilityFormPopup
    headerName="Termin dostępny"
    [showCloseButton]="false"
    [showConfirmButton]="false"
    style="width: 400px;">

    <div class="form-container">
      <form [formGroup]="availabilityForm" (ngSubmit)="submitFormAvailability()">
        <div>
          <label for="service">Oferta:</label>
          <select id="service" name="service" formControlName="service" required [compareWith]="compareServices">
            <option *ngFor="let service of serviceList" [ngValue]="service">{{ service.name }}</option>
          </select>
        </div>

        <div>
          <label for="start_date">Data zaczęcia:</label>
          <input #av_startDateInput type="date" id="start_date" name="start_date" formControlName="start_date" required>
        </div>

        <div>
          <label for="end_date">Data zakończenia:</label>
          <input #av_endDateInput type="date" id="end_date" name="end_date" formControlName="end_date" required>
        </div>

        <div>
          <label for="service_day">Dzień:</label>
          <input #av_serviceDayInput type="date" id="service_day" name="service_day" formControlName="service_day" required>
        </div>

        <div>
          <label for="service_time_start">Czas zaczęcia:</label>
          <input type="text" id="service_time_start" name="service_time_start" formControlName="service_time_start" required>
        </div>

        <div>
          <label for="service_time_end">Czas zakończenia:</label>
          <input type="text" id="service_time_end" name="service_time_end" formControlName="service_time_end" required>
        </div>

        <div class="button-container">
          <button type="button" class="form-button" ngClass="go-back-button" (click)="closeAvailabilityForm()">Cofnij</button>
          <button type="submit" class="form-button" [disabled]="!availabilityForm.valid" [class.disabled-button]="!availabilityForm.valid">
            Zapisz
          </button>
        </div>
      </form>
    </div>

</app-popup>

<!-- Success/failure response pop-up -->
<app-popup #responsePopup
  headerName="{{responsePopupHeader}}"
  messageText="{{responsePopupMessage}}"
  [ngClass]="responsePopupNgClass"
  closeButtonLabel="Ok"
  (closeEvent)="responsePopupCancelAction()">
</app-popup>

<!-- Confirm action pop-up - deleting/restoring -->
<app-popup #confirmDeletionPopup
  headerName="{{confirmDeletionPopupHeader}}"
  messageText="{{confirmDeletionPopupMessage}}"
  [showConfirmButton]="true"
  confirmButtonLabel="{{confirmDeletionPopupConfirmText}}"
  confirmButtonNgClass="{{confirmDeletionPopupConfirmNgClass}}"
  closeButtonLabel="Anuluj"
  (confirmEvent)="confirmDeletionAction()">
</app-popup>

<div class="welcome">
  <p>Dostępność ofert</p>
  <hr>
</div>

<div id="service-list-table">
  <h2>Wybierz ofertę</h2>
  <div *ngFor="let service of serviceList" class="service-list-item">
    <button class="service-list-button"
      (click)="selectService(service)" 
      [class.selected]="selectedService === service">
      {{ service.name }}
    </button>
  </div>
</div>

<div class="data-container">
  <div class="data-card">
    <div class="divider">
      <p>Terminy dostępne</p>
    </div>

    <button type="button" class="generic-button" ngClass="add-button" (click)="openAvailabilityAddForm()">Dodaj nowy dostępny termin</button>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Numer</th>
            <th>Dzień</th>
            <th>Data zaczęcia</th>
            <th>Czas zaczęcia</th>
            <th>Data zakończenia</th>
            <th>Czas zakończenia</th>
            <th>Opcje</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="availabilitiesList.length === 0; else notEmpty">
            <tr>
              <td colspan="7" id="list-empty">Brak dostępnych terminów dla tej oferty</td>
            </tr>
          </ng-container>
          <ng-template #notEmpty>
            <tr *ngFor="let availability of availabilitiesList">
              <td>{{ availability.id }}</td>

              <td>{{ getPolishDayOfWeek(availability.service_day) }}</td>

              <td>{{ getFormattedDate(availability.start_date) | date: 'dd.MM.yyyy' }}</td>
              <td>{{ getFormattedTime(availability.service_time_start) }}</td>

              <td>{{ getFormattedDate(availability.end_date) | date: 'dd.MM.yyyy' }}</td>
              <td>{{ getFormattedTime(availability.service_time_end) }}</td>

              <td>
                <button type="button" class="generic-button" ngClass="edit-button" (click)="openAvailabilityForm(availability)">Edytuj</button>
                <button type="button" class="generic-button" (click)="this.confirmDeleteAvailability(availability)">Usuń</button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <app-pagination #paginationComponent1
        (onPageChange)="getNewAvailabilities()">
    </app-pagination>
  </div>
</div>
