
<div class="welcome">
  <p>Dostępność ofert</p>
  <hr>
</div>

<div id="service-list-table">
  <h2>Wybierz ofertę</h2>
  <div *ngFor="let service of serviceList" class="service-list-item">
    <button class="service-list-button"
      (click)="selectService(service)" 
      [class.selected]="selectedService === service">
      {{ service.name }}
    </button>
  </div>
</div>

<div class="divider">
  <p>Terminy dostępne</p>
  <hr>
</div>

<div class="data-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Numer</th>
          <th>Dzień</th>
          <th>Data zaczęcia</th>
          <th>Czas zaczęcia</th>
          <th>Data zakończenia</th>
          <th>Czas zakończenia</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody>
        <!-- Check if the reservationList is empty -->
        <ng-container *ngIf="availabilitiesList.length === 0; else notEmpty">
          <tr>
            <td colspan="7" id="list-empty">Brak dostępnych terminów dla tej oferty</td>
          </tr>
        </ng-container>
        <!-- If not empty, display the reservationList -->
        <ng-template #notEmpty>
          <tr *ngFor="let availability of availabilitiesList">
            <td>{{ availability.id }}</td>

            <td>{{ getPolishDayOfWeek(availability.service_day) }}</td>

            <td>{{ getFormattedDate(availability.start_date) | date: 'dd.MM.yyyy' }}</td>
            <td>{{ getFormattedTime(availability.service_time_start) }}</td>

            <td>{{ getFormattedDate(availability.end_date) | date: 'dd.MM.yyyy' }}</td>
            <td>{{ getFormattedTime(availability.service_time_end) }}</td>

            <td>
              <button type="button" class="generic-button" ngClass="edit-button">Edytuj</button>
              <button type="button" class="generic-button">Usuń</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <app-pagination #paginationComponent1
      (onPageChange)="getNewAvailabilities()">
  </app-pagination>
</div>


<div class="divider">
  <p>Terminy niedostępne</p>
  <hr>
</div>

<div class="data-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Numer</th>
          <th>Data zaczęcia</th>
          <th>Czas zaczęcia</th>
          <th>Data zakończenia</th>
          <th>Czas zakończenia</th>
          <th colspan="2">Opcje</th>
        </tr>
      </thead>
      <tbody>
        <!-- Check if the reservationList is empty -->
        <ng-container *ngIf="unavailabilitiesList.length === 0; else notEmpty2">
          <tr>
            <td colspan="6" id="list-empty">Brak niedostępnych terminów dla tej oferty</td>
          </tr>
        </ng-container>
        <!-- If not empty, display the reservationList -->
        <ng-template #notEmpty2>
          <tr *ngFor="let unavailability of unavailabilitiesList">
            <td>{{ unavailability.id }}</td>

            <td>{{ getFormattedDate(unavailability.start_date) | date: 'dd.MM.yyyy' }}</td>
            <td>{{ getFormattedTime(unavailability.start_time) }}</td>

            <td>{{ getFormattedDate(unavailability.end_date) | date: 'dd.MM.yyyy' }}</td>
            <td>{{ getFormattedTime(unavailability.end_time) }}</td>

            <td class="button-td">
              <button type="button" class="generic-button" ngClass="edit-button">Edytuj</button>
              <button type="button" class="generic-button">Usuń</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <app-pagination #paginationComponent2
      (onPageChange)="getNewUnavailabilities()">
  </app-pagination>
</div>
