
<!-- Success/failure response pop-up -->
<app-popup #responsePopup
    headerName="{{responsePopupHeader}}"
    messageText="{{responsePopupMessage}}"
    [ngClass]="responsePopupNgClass"
    closeButtonLabel="Ok">
</app-popup>

<!-- Confirm reservation pop-up -->
<app-popup #confirmReservationPopup
    headerName="Rezerawacja"
    messageText="{{confirmReservationPopupMessage}}"
    [showConfirmButton]="true"
    confirmButtonLabel="Potwierdź rezerwację"
    confirmButtonNgClass="button-confirm"
    closeButtonLabel="Anuluj"
    (confirmEvent)="confirmReservation()">

    <div id="reservation-text-title">{{reservationText_Title}}</div>
    <div id="reservation-details">
        <b>{{reservationText_Service}}</b><br>
        {{reservationText_Date}}<br>
        {{reservationText_Time}}<br>
    </div>

</app-popup>

<!-- Reserving pop-up -->
<app-popup #reservationPopup
    headerName=""
    messageText=""
    [showConfirmButton]="true"
    confirmButtonLabel="Potwierdź"
    confirmButtonNgClass="{{confirmButtonClass}}"
    closeButtonLabel="Anuluj"
    [disableDefaultButtonCancels]="true"
    (closeEvent)="reservationPopupCancelAction()"
    (confirmEvent)="reservationPopupConfirmAction()">

    <h1>Rezerwacja</h1>

    <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput #datePicker [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" [min]="minDate" [max]="maxDate" placeholder="Wybierz datę" [(ngModel)]="selectedDate" (dateChange)="onDateChange()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div id="times-table">
        <button *ngFor="let timeSlot of datesWithSameDate; let i = index" class="generic-button" type="button" (click)="selectReservationTime(i)" [class.selected]="selectedReservationTime === i">{{ timeFormat(timeSlot) }}</button>
    </div>

</app-popup>

<div class="welcome">
    <p>Oferta</p>
    <hr>
</div>

<div class="container">
    <div class="centered">
        <button type="button" id="services-add-button" class="generic-button" [routerLink]="['/offer/add']">Dodaj nową ofertę</button>
        
        <div *ngFor="let service of serviceList; let i = index" [class.image-left]="i % 2 === 0" [class.image-right]="i % 2 !== 0">
            <div class = "image-left">
                <img [src]="service.image_url" alt="obraz">
                
                <div class="text-content">
                    <h2>{{service.name}}</h2>

                    <div class="service-description" [innerHTML]="service.description"></div>

                    <div id="button-container">
                        <button type="button" id="service-edit-button" class="generic-button" [routerLink]="['/offer/edit', service.id]">Edytuj</button>
                        <app-service-delete [service]="service"></app-service-delete>
                        <button id="reserve-button" class="generic-button" type="button" (click)="openReservingPopup(service)">Zarezerwuj</button>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <app-pagination #paginationComponent
            (onPageChange)="fetchServices()">
        </app-pagination>
    </div>
</div>
