
<!-- Success/failure response pop-up -->
<app-popup #responsePopup
  headerName="{{responsePopupHeader}}"
  messageText="{{responsePopupMessage}}"
  [ngClass]="responsePopupNgClass"
  closeButtonLabel="Ok"
  (closeEvent)="responsePopupCancelAction()">
</app-popup>

<div class="form-container">
  <h1>{{actionText}}</h1>

  <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title" [(ngModel)]="news.title" formControlName="title" required>
    </div>

    <div>
      <label for="picture">URL zdjęcia:</label>
      <input type="text" id="picture" name="picture" [(ngModel)]="news.picture" formControlName="picture">
    </div>

    <div>
      <label for="date">Data:</label>
      <input #dateInput type="date" id="date" name="date" formControlName="date" value="{{formatDateForInput(news.date)}}" required>
    </div>
    
    <div>
      <label for="content">Treść:</label>
      <textarea id="content" name="content" placeholder="Wpisz treść..." [(ngModel)]="news.content" formControlName="content" required></textarea>
    </div>

    <div class="button-container">
      <button type="button" class="form-button" ngClass="go-back-button" (click)="goBack()">Cofnij</button>
      <button type="submit" class="form-button" [disabled]="!newsForm.valid" [class.disabled-button]="!newsForm.valid">
        Zapisz
      </button>
    </div>
  </form>
</div>
