
<!-- Success/failure response pop-up -->
<app-popup #responsePopup
  headerName="{{responsePopupHeader}}"
  messageText="{{responsePopupMessage}}"
  [ngClass]="responsePopupNgClass"
  closeButtonLabel="Ok"
  (closeEvent)="responsePopupCancelAction()">
</app-popup>

<div class="form-container">
  <h1>{{actionText}}</h1>

  <form [formGroup]="weaponForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nazwa:</label>
      <input type="text" id="name" name="name" maxlength="200" minlength="2" [(ngModel)]="weapon.name" formControlName="name" required>
    </div>

    <div>
      <label for="pricePerHour">Cena za godzinę (zł):</label>
      <input type="number" id="pricePerHour" name="pricePerHour" [(ngModel)]="weapon.pricePerHour" formControlName="pricePerHour" required>
    </div>

    <div>
      <label for="usesSinceLastMaintenanceas">Liczba użyć od ostatniej konserwacji:</label>
      <input type="number" id="usesSinceLastMaintenance" name="usesSinceLastMaintenance" [(ngModel)]="weapon.usesSinceLastMaintenance" formControlName="usesSinceLastMaintenance" required>
    </div>

    <div>
      <label for="maintenanceEvery">Konserwacja co (strzałów):</label>
      <input type="number" id="maintenanceEvery" name="maintenanceEvery" [(ngModel)]="weapon.maintenanceEvery" formControlName="maintenanceEvery" required>
    </div>

    <div>
      <label for="serialNumber">Numer seryjny:</label>
      <input type="text" id="serialNumber" name="serialNumber" maxlength="40" minlength="2" [(ngModel)]="weapon.serialNumber" formControlName="serialNumber" required>
    </div>

    <div>
      <label for="fitForUse">Zdatny do użytku:</label>
      <input type="checkbox" id="fitForUse" name="fitForUse" [(ngModel)]="weapon.fitForUse" formControlName="fitForUse">
    </div>

    <div>
      <label for="inMaintenance">W konserwacji:</label>
      <input type="checkbox" id="inMaintenance" name="inMaintenance" [(ngModel)]="weapon.inMaintenance" formControlName="inMaintenance">
    </div>

    <div class="button-container">
      <button type="button" class="form-button" ngClass="go-back-button" (click)="goBack()">
        Cofnij
      </button>
      <button type="submit" class="form-button"   [disabled]="!weaponForm.valid" [class.disabled-button]="!weaponForm.valid">
        Zapisz
      </button>
    </div>
  </form>
</div>
