
<div class="welcome">
  <p>Lista zawodów</p>
  <hr>
</div>

<div class="data-container">
  <button *ngIf="authService.hasAnyRole(['ADMIN', 'WORKER'])" type="button" id="competitions-add-button" class="generic-button" [routerLink]="['/competitions/add']">Dodaj nowe zawody</button>
  <div class="table-container">
    <h3>Nadchodzące zawody</h3>
    <table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Opis</th>
          <th>Dzień</th>
          <th>Godzina rozpoczęcia</th>
          <th>Godzina zakończenia</th>
          <th>Status</th>
          <th>Album</th>
          <th>Opcje</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let competition of competitionsList">
          <td>{{ competition.name }}</td>
          <td [innerHTML]="competition.description"></td>
          <td>{{ competition.date | date :'dd.MM.yyyy' }}</td>
          <td>{{ competition.hourStart }}</td>
          <td>{{ competition.hourEnd }}</td>
          <td>{{ competition.done ? 'Zakończone' : 'W toku' }}</td>

          <td>
            <button *ngIf="competition.done && competition.album == null && authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])" type="button" class="generic-button" [routerLink]="['/competitions/addalbum', competition.id]">Dodaj album</button>
            <button *ngIf="competition.album" type="button" class="generic-button" [routerLink]="['/competitions/album', competition.album.id]">Wyświetl album</button>
          </td>

          <td>
            <ng-container *ngIf="!competition.done && authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])">
              <button *ngIf="!isRegistered(competition.id)" type="button" class="generic-button" (click)="registerForCompetition(competition.id)">Zapisz się</button>
              <button *ngIf="isRegistered(competition.id)" type="button" class="generic-button" (click)="unregisterFromCompetition(competition.id)">Wypisz się</button>
            </ng-container>

            <button
              *ngIf="authService.hasAnyRole(['ADMIN', 'WORKER'])"
              type="button"
              class="generic-button"
              [routerLink]="['/competitions/edit', competition.id]">
              Edytuj
            </button>

            <app-competitions-delete *ngIf="authService.hasAnyRole(['ADMIN', 'WORKER'])" [competition]="competition"></app-competitions-delete>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-container">
    <h3>Historia</h3>
    <table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Opis</th>
          <th>Dzień</th>
          <th>Godzina rozpoczęcia</th>
          <th>Godzina zakończenia</th>
          <th>Status</th>
          <th>Album</th>
          <th *ngIf="authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])">Opcje</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let competition of pastCompetitionsList">
          <td>{{ competition.name }}</td>
          <td [innerHTML]="competition.description"></td>
          <td>{{ competition.date | date :'dd.MM.yyyy' }}</td>
          <td>{{ competition.hourStart }}</td>
          <td>{{ competition.hourEnd }}</td>
          <td>{{ competition.done ? 'Zakończone' : 'W toku' }}</td>

          <td>
            <button *ngIf="competition.done && competition.album == null && authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])" type="button" class="generic-button" [routerLink]="['/competitions/addalbum', competition.id]">Dodaj album</button>
            <button *ngIf="competition.album" type="button" class="generic-button" [routerLink]="['/competitions/album', competition.album.id]">Wyświetl album</button>
          </td>

          <td *ngIf="authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])">
            <ng-container *ngIf="!competition.done">
              <button *ngIf="!isRegistered(competition.id)" type="button" class="generic-button" (click)="registerForCompetition(competition.id)">Zapisz się</button>
              <button *ngIf="isRegistered(competition.id)" type="button" class="generic-button" (click)="unregisterFromCompetition(competition.id)">Wypisz się</button>
            </ng-container>

            <button
              *ngIf="authService.hasAnyRole(['USER', 'ADMIN', 'WORKER'])"
              type="button"
              class="generic-button"
              [routerLink]="['/competitions/edit', competition.id]">
              Edytuj
            </button>
            
            <app-competitions-delete *ngIf="authService.hasAnyRole(['ADMIN', 'WORKER'])" [competition]="competition"></app-competitions-delete>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <app-pagination #paginationComponent
    (onPageChange)="fetchCompetitions()">
  </app-pagination>
</div>
