<!-- Success/failure response pop-up -->
<app-popup #responsePopup
    headerName="{{responsePopupHeader}}"
    messageText="{{responsePopupMessage}}"
    [ngClass]="responsePopupNgClass"
    closeButtonLabel="Ok"
    (closeEvent)="responsePopupCancelAction()">
</app-popup>

<div class="form-container">
    <h1>{{actionText}}</h1>

    <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nazwa:</label>
        <input type="text" id="name" name="name" [(ngModel)]="competition.name" formControlName="name" required>
      </div>

      <div>
        <label for="description">Opis:</label>
        <quill-editor class="quill-editor-custom" [(ngModel)]="competition.description" [modules]="{ toolbar: quillToolbarOptions }" formControlName="description"></quill-editor>
      </div>

      <div>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" [(ngModel)]="competition.date" formControlName="date" required>
      </div>

      <div>
        <label for="hourStart">Godzina rozpoczęcia:</label>
        <input type="number" id="hourStart" name="hourStart" [(ngModel)]="competition.hourStart" formControlName="hourStart" required>
      </div>

      <div>
        <label for="hourEnd">Godzina zakończenia:</label>
        <input type="number" id="hourEnd" name="hourEnd" [(ngModel)]="competition.hourEnd" formControlName="hourEnd" required>
      </div>

      <div>
        <label for="done">Zakończone:</label>
        <input type="checkbox" id="done" name="done" [(ngModel)]="competition.done" formControlName="done">
      </div>
      
      <div class="button-container">
        <button type="button" class="form-button go-back-button" (click)="goBack()">Cofnij</button>
        <button type="submit" class="form-button" [disabled]="!competitionForm.valid" [class.disabled-button]="!competitionForm.valid">
          Zapisz
        </button>
      </div>
    </form>
</div>
