<div class="welcome">
  <p>Lista zawodów</p>
  <hr>
</div>

<div class="data-container">
  <button type="button" id="competitions-add-button" class="generic-button" [routerLink]="['/competitions/add']">Dodaj nowe zawody</button>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Opis</th>
          <th>Dzień</th>
          <th>Godzina rozpoczęcia</th>
          <th>Godzina zakończenia</th>
          <th>Status</th>
          <th>Zapisz</th>
          <th>Edytuj</th> <!-- dodać widoczność edytowania tylko dla pracowników-->
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competition of competitionsList">
          <td>{{ competition.name }}</td>
          <td [innerHTML]="competition.description"></td>
          <td>{{ competition.date | date :'dd.MM.yyyy' }}</td>
          <td>{{ competition.hourStart }}</td>
          <td>{{ competition.hourEnd }}</td>
          <td>{{ competition.done ? 'Zakończone' : 'W toku' }}</td>
          <td>
            <button *ngIf="!competition.done" type="button" class="generic-button" [routerLink]="['/competitions/NOT_IMPLEMENTED', competition.id]">Zapisz się</button>
          </td>
          <td>
            <button type="button" class="generic-button" [routerLink]="['/competitions/edit', competition.id]">Edytuj</button>
          </td>
          <td>
            <app-competitions-delete [competition]="competition"></app-competitions-delete>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination #paginationComponent
    (onPageChange)="fetchCompetitions()">
  </app-pagination>
</div>

