<!-- newsform.component.html -->

<!-- Success/failure response pop-up -->
<app-popup #responsePopup
    headerName="{{responsePopupHeader}}"
    messageText="{{responsePopupMessage}}"
    [ngClass]="responsePopupNgClass"
    closeButtonLabel="Ok"
    (closeEvent)="responsePopupCancelAction()">
</app-popup>

<div class="form-container">
    <h2>{{actionText}}</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div>
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title" [(ngModel)]="news.title" required>
      </div>

      <div>
        <label for="picture">URL zdjęcie:</label>
        <input type="text" id="picture" name="picture" [(ngModel)]="news.picture">
      </div>

      <div>
        <label for="date">Data:</label>
        <input #dateInput type="date" id="date" name="date" value="{{formatDateForInput(news.date)}}" required>
      </div>
      
      <div>
        <label for="content">Treść:</label>
        <textarea id="content" name="content" placeholder="Wpisz treść..." [(ngModel)]="news.content" required></textarea>
      </div>

      <div class="button-container">
        <button type="button" class="go-back-button" (click)="goBack()">Cofnij</button>
        <button type="submit">Zapisz</button>
      </div>
    </form>
</div>