<div class="news-welcome">
    <p class="welcome">Aktualności</p>
    <hr class="dashed">
</div>

<div class="news-container">
    <button type="button" class="news-add-button" [routerLink]="['/news/add']">Dodaj nowy post</button>
    <div *ngFor="let news of newsList" class="news-item" [ngClass]="{ 'news-item-deleted': news.deleted }">
        <h2 class="news-title">{{ news.title }}</h2>
        <ng-container *ngIf="news.picture">
            <img [src]="news.picture" alt="{{ news.title }}" class="news-image">
        </ng-container>
        <div class="news-details">
            <p class="news-date">Date: {{ news.date }}</p>
            <p>Author ID: {{ news.authorId }}</p>
            <div class="news-content" [innerHTML]="news.content"></div>
        </div>
        <button type="button" class="news-edit-button" [routerLink]="['/news/edit', news.id]">Edytuj</button>
        <app-news-delete [news]="news"></app-news-delete>
    </div>
</div>
