
<!-- Success/failure response pop-up -->
<app-popup #responsePopup
    headerName="{{responsePopupHeader}}"
    messageText="{{responsePopupMessage}}"
    [ngClass]="responsePopupNgClass"
    closeButtonLabel="Ok">
</app-popup>

<!-- Confirm reservation pop-up -->
<app-popup #confirmReservationPopup
    headerName="Rezerawacja"
    messageText="{{confirmReservationPopupMessage}}"
    [showConfirmButton]="true"
    confirmButtonLabel="Potwierdź rezerwację"
    confirmButtonNgClass="button-confirm"
    closeButtonLabel="Anuluj"
    (confirmEvent)="confirmReservation()">
</app-popup>

<!-- Reserving pop-up -->
<app-popup #reservationPopup
    headerName=""
    messageText=""
    [showConfirmButton]="true"
    confirmButtonLabel="Potwierdź"
    confirmButtonNgClass="button-confirm"
    closeButtonLabel="Anuluj"
    (closeEvent)="reservationPopupCancelAction()"
    (confirmEvent)="reservationPopupConfirmAction()">

    <h1>Rezerwacja</h1>

    <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput #datePicker [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" [min]="minDate" [max]="maxDate" placeholder="Wybierz datę"  [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

</app-popup>

<div class="welcome">
    <p>Oferta</p>
    <hr>
</div>

<div class="container">
    <div class="centered">

    <div *ngFor="let service of serviceList; let i = index" [class.image-left]="i % 2 === 0" [class.image-right]="i % 2 !== 0">
        <div class = "image-left">
            <img [src]="service.image_url" alt="obraz">
            <div class="text-content">
                <h2>{{service.name}}</h2>
                <div class="service-description" [innerHTML]="service.description"></div>
                <button id="reserve-button" class="generic-button" type="button" (click)="openReservingPopup(service)">Zarezerwuj</button>
            </div>
        </div>
    </div>
    
    <hr>
    <app-pagination #paginationComponent
        (onPageChange)="fetchServices()">
    </app-pagination>
</div>