
<!-- Success/failure response pop-up -->
<app-popup #responsePopup
    headerName="{{responsePopupHeader}}"
    messageText="{{responsePopupMessage}}"
    [ngClass]="responsePopupNgClass"
    closeButtonLabel="Ok"
    (closeEvent)="responsePopupCancelAction()">
</app-popup>


<div class="form-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div>
            <label for="name">Imię:</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
        </div>

        <div>
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" name="surname" [(ngModel)]="user.surname" required>
        </div>

        <div>
            <label for="dateOfBirth">Data urodzenia:</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
        </div>

        <div>
            <label for="clubMember">Członek klubu:</label>
            <input type="checkbox" id="clubMember" name="clubMember" [(ngModel)]="user.clubMember">
        </div>

        <div class="button-container">
          <button type="button" class="go-back-button" (click)="goBack()">Cofnij</button>
          <button type="submit">Zapisz</button>
        </div>
    </form>
</div> 