<div class="welcome">
    <p>Lista broni</p>
    <hr>
</div>

<div class="data-container">
    <button type="button" id="news-add-button" class="generic-button" [routerLink]="['/news/add']">Dodaj nowy post</button>
    
    <div *ngFor="let news of weaponsList" class="item-card" [ngClass]="{ 'item-card-deleted': news.deleted }">
        <h2>{{ news.title }}</h2>

        <div class="item-card-details">
            <p class="news-date">Date: {{ news.date }}</p>
            <p>Author ID: {{ news.authorId }}</p>
            <div class="news-content" [innerHTML]="news.content"></div>
        </div>

        <button type="button" id="news-edit-button" class="generic-button" [routerLink]="['/news/edit', news.id]">Edytuj</button>

        <app-news-delete [news]="news"></app-news-delete>
    </div>

    <app-pagination #paginationComponent
        (onPageChange)="fetchNews()">
    </app-pagination>
</div>
