
<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>
  
      <div class="button-container">
        <button type="submit" class="form-button" *ngIf="!loggedInUsername" [disabled]="!loginForm.valid" [class.disabled-button]="!loginForm.valid" (click)="onSubmit()">
          Zaloguj
        </button>
      </div>
    </form>
</div>
