.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map_image {
  border: 2px solid #ccc;
  margin:10px;
  border-radius: 10%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}