
.form-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.album-description {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
  
