/* newsform.component.css */

/* Container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form fields */
.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input, textarea {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form-container input:hover, textarea:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Textarea */
.form-container textarea {
  height: 150px;
}

.form-container {
  max-width: 500px;
  margin: 20px auto; /* Added margin */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Error message */
.error-message {
  color: #ff0000;
  margin-top: 5px;
}

.goBackButton {
  margin-right: 8px;
}

textarea {
  resize: none;
}

textarea::placeholder {
  opacity: 0.5;
}

textarea:hover::placeholder {
  opacity: 0.3;
  resize: none;
  transition: background-color 0.3s;
}
