
.dashed {
    margin-top: 0;
    width: 60%;
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-bottom: 0px;
}

.news-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.welcome {
    font-size: 48px;
    margin-bottom: 20px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.news-item {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.news-item-deleted {
  background: repeating-linear-gradient(160deg, #f9f9f9, #f9f9f9 70px, #dddddd 10px, #dddddd 80px);
}

.news-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.news-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news-details {
  color: #555;
}

.news-date {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.news-content {
  font-size: 1rem;
}

.news-add-button:hover,
.news-edit-button:hover {
  background-color: #333;
  color: #fff;
}

/* Additional styling for the "Edit" button */
#news-edit-button {
  margin-right: 10px; /* Odstęp między przyciskami */
}

#news-add-button, .pagination {
  margin-bottom: 20px;
}

.pagination {
  display: inline-block;
  text-align: center;
}

.pagination select, .pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  height: 70px;
  width: 60px;
}

.pagination button {
  width: 52px;
  font-size: 20px;
}

.pagination select:hover, .pagination button:hover {
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
