
.open-popup-button {
  padding: 5px 10px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #a5a5a5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.news-delete-button:hover {
  background-color: #333;
  color: #fff;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.popup {
  background-color: white;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 200px;
  opacity: 0.95;
}

.popup-close-button,
.popup-confirm-button {
  padding: 7px 12px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #a9a9a9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
}

.popup-close-button {
  bottom: 10px;
  right: 75px;
}
