
button.selected {
  background-color: #50c254;
  color: white;
}

#service-list-table {
  margin-left: 6%;
}

.service-list-item {
  margin-bottom: 8px;
}

.service-list-button {
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  width: 500px;
  font-size: 0.85rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  border: 1px solid rgb(157, 157, 157);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.service-list-button:not(.selected):hover {
  background-color: #c9c9c9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-list-button.selected:hover {
  background-color: #3f9f42;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#list-empty {
  text-align: center;
}

.divider {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider p {
  margin-top: 24px;
  font-size: 18px;
  margin-bottom: 14px;
}

.divider hr {
  margin-top: 0;
  width: 40%;
  border: none;
  border-top: 3px solid #bbb;
  margin-bottom: 0px;
}

.edit-button {
  margin-right: 8px;
}

.past-date {
  color: #eb4034;
}
