.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  line-height: 120%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* codeblock for images alternating on left and right side
     source: https://www.codehim.com/html5-css3/image-and-text-side-by-side-html-css/ */
  img {
    max-width: 50%;
  
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.centered {
  text-align: center;
  max-width: 65%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 0;
  line-height: 130%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-container img {
  width: 50%;
  height: auto;
}

.service-container .text-content {
  width: 50%;
  padding: 0 1em;
}

.image-left {
  flex-direction: row;
}

.image-right {
  flex-direction: row-reverse;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#reserve-button {
  float: center;
  background-color: #f4b136;
}

#service-edit-button, #reserve-button {
  margin: 6px;
}

#reserve-button:hover {
  background-color: #da980c;
}

#times-table {
  margin-bottom: 22px;
}

#times-table button {
  display: block;
  margin-bottom: 10px;
}

#times-table button {
  display: block;
  margin-bottom: 10px;
}

#times-table button.selected {
  background-color: #007bff;
  color: #ffffff;
}

#reservation-text-title {
  font-size: 22px;
}

#reservation-details {
  font-size: 14px;
  margin: 10px;
}

#services-add-button {
  margin-top: 24px;
  width: 200px;
}

#track-table {
  margin-bottom: 22px;
}

#track-table button {
  display: block;
  margin-bottom: 10px;
}

#track-table button {
  display: block;
  margin-bottom: 10px;
}

#track-table button.selected {
  background-color: #20c311;
  color: #ffffff;
}
