
.form-container h1 {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/* Container */
.form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Form fields */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.form-container input, textarea {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-container input:hover, textarea:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #d6d6d6;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
.form-container textarea {
    height: 150px;
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.go-back-button {
    margin-right: 8px;
}

textarea {
    resize: none;
}
textarea::placeholder {
    opacity: 0.5;
}
textarea:hover::placeholder {
    opacity: 0.3;
    resize: none;
    transition: background-color 0.3s;
}

.form-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 0px;
}
