
#profileContener {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    text-align: center;

    border: 1px solid #cacaca;
    border-radius: 25px;

    font-weight: 0;

    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#profileContener button {
    margin-top: 12px;
}