<div class="container">
    <div class="centered">
        <h1>O nas</h1>
        <p>
            Zapraszamy do naszego klubu strzeleckiego, gdzie pasja spotyka się z precyzją. Jesteśmy dynamiczną społecznością strzelców, dla których strzelectwo to nie tylko hobby, lecz również sposób życia. Nasz klub organizuje regularne zawody, które są zarówno wyzwaniem dla doświadczonych strzelców, jak i doskonałą okazją dla tych, którzy dopiero rozpoczynają swoją przygodę z bronią. Dysponujemy własną nowoczesną strzelnicą, która jest sercem naszej działalności. Oprócz zawodów oferujemy również szkolenia prowadzone przez doświadczonych instruktorów, dzięki którym możesz rozwijać swoje umiejętności strzeleckie. Dołącz do naszej społeczności i odkryj pasję strzelecką w przyjaznej i wspierającej atmosferze naszego klubu.
        </p>
        <img src="https://raw.githubusercontent.com/JackM0N/projektStrzelnica-Grupa2/main/strzelnicaAngular/src/app/images/AboutBanner.png" alt="banner">
        <p>
            <b>Dane adresowe:</b><br>
            Klub Strzelectwa Sportowego Ligi Obrony Kraju<br>
            „BURSZTYN” w Kaliszu<br>
            ul. Rzemieślnicza 6, 62-800 Kalisz<br>
            (wejście od ul. Przemysłowej)<br>
        </p>
        <p>
            <b>Godziny otwarcia:</b><br>
            Poniedziałek - Piątek 10:00 - 22:00<br>
            Sobota - Niedziela 10:00 - 20:00<br>
        </p>
        <p>
            <b>Telefony:</b><br>
            Stacjonarny: +48 12 345 67 89<br>
            Komórkowy: +48 22 345 66 99<br>
            Fax: +48 11 222 33 44<br>
        </p>
        <p>
            <b>E-mail:</b><br>
            kssbursztyn&#64;op.pl
        </p>
        <img class="map_image" src="https://raw.githubusercontent.com/JackM0N/projektStrzelnica-Grupa2/main/strzelnicaAngular/src/app/images/AboutMap.png" alt="mapa">
    </div>
</div>